*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --border-red: 1px solid red;
}

.header{
    width: 500px;
    height: 500px;
    border: 1px solid red;
}

.container-logo{
    width: 100vw;
}